/* Fontes e cores de fonte */
/* p {
    color: blue;
    background-color: yellow;
} */

/* Todo texto do corpo do html recebe a mesma fonte */
/* body {
    font-family: 'Helvetica', 'Lucida Grande', sans-serif;
} */

/* Alinhamento e espaçamentos do texto */
/* p{
    line-height: 20px;
    letter-spacing: 3px;
    word-spacing: 7px;
    text-indent: 30px;
} */

/* Imagens de fundo */
/* h1{
    background-image: url(img/matriz-musicdot.png);
}
body{
    background-image: url(https://i.imgur.com/uAhjMNd.jpg);
} */

/* Definição de bordas */
/* p{
    border-width: 1px;
    border-style: solid;
    border-color: aqua;
} */

/* Forma simplificada de definir borda */
/* p{
    border: 1px solid aqua;
} */

/* Representação de cores */
/* h1{
    background-color: yellow;
    background-color: rgb(255, 255, 0);
    background-color: #ffff00;
} */

/* É possível simplicar a notação hexadecimal */
/* h1{
    background-color: #ff0;
} */

/* Espaçamento com Padding (Interno) */
/* p{ */
    /* background-color: grey; */

    /* 10px em todas as direções */
    /* padding: 10px; */
    
    /* 10px top e bottom, 30px left e right */
    /* padding: 10px 30px; */
    
    /* 10px top, 30px left e right, 50px bottom */
    /* padding: 10px 30px 50px; */

    /* 10px top, 30px right, 50px bottom, 5px left */
    /* padding: 10px 30px 50px 5px; */
/* } */

/* Espaçamento com Margin (Externo) */
/* p{ */
    /* background-color: grey; */

    /* o navegador define a margem de acordo com o espaço disponivel */
    /* margin: 0 auto; */
/* } */

/* Testando diferentes tipos de display */
/* p {
    background-color: aqua;
    width: 30%;
}

a {
    background-color: pink;
    width: 40%;
    display: inline-block;
} */